<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="guest-list-table-css/style.css">

<style>
.form-submit-button {
background: #0066A2;
color: white;
border-style: outset;
border-color: #0066A2;
height: 35px;
width: 80px;
font: bold 15px arial, sans-serif;
text-shadow:none;
}
</style>

</head>

<body>
<br><br>
<h2 align="center"> GUEST LIST </h2>
<br><br>



<table align="center">
<tr>
<td align="right">
<form method="post" th:action="@{/guest/search}">
	<label for="name">Name</label> &nbsp;
	<input id="guestName" name="guestName" type="text"/> &nbsp;
	<input type="submit" class="form-submit-button" value="Find"/>
</form>
</td>
<td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
<td align="right">
<a th:href="${'/guest-book-input'}">Input Guest Message</a>
</td>
</tr>
</table>

<br/><br/>


<table align="center" class="blueTable">
<thead>
<tr>
<th align="center">No</th>
<th>Name</th>
<th>Phone</th>
<th>Email</th> 
<th>Address</th> 
<th>Message</th>
</tr>
</thead>

<tbody>
<div th:if="${not #lists.isEmpty(GuestList)}">
<tr th:each="guest,iStat : ${GuestList}">
	<td align="center" th:text="${iStat.count}"> </td>
	<td th:text="${guest.guestName}"> </td>
	<td th:text="${guest.guestPhone}"> </td>
	<td th:text="${guest.guestEmail}"> </td>
	<td th:text="${guest.guestAddress}"> </td>
	<td th:text="${guest.guestMessage}"> </td>
</tr>
</div>
</tbody>
</tr>
</table>



</body>
</html>