<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<style>
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 90%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td {
  border: 1px solid #AAAAAA;
  padding: 2px 1px;
  
}

table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 2px 1px;
  text-align: center;
}

table.blueTable tbody td {
  font-size: 12px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
</style>

</head>

<body>
<br><br>
<h4 align="center"> Search Guest for <div th:text="${searchGuestName}"></div> </h4>
<br>


<table align="center">
<tr>
<td align="right"> &nbsp; </td>
<td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
<td align="right">
<a th:href="${'/guest-book-input'}"><b>Input Guest Message</b></a>
</td>
<td>&nbsp;</td>
<td><a th:href="${'/guest-list'}"><b>Back To Guest List</b></a></td>
</tr>
</table>

<br> <br>

<table align="center" class="blueTable">
<thead>
<tr>
<th align="center">No</th>
<th>Name</th>
<th>Phone</th>
<th>Email</th> 
<th>Address</th> 
<th>Message</th>
</tr>
</thead>

<tbody>
<div th:if="${not #lists.isEmpty(GuestList)}">
<tr th:each="guest,iStat : ${GuestList}">
	<td align="center" th:text="${iStat.count}"> </td>
	<td th:text="${guest.guestName}"> </td>
	<td th:text="${guest.guestPhone}"> </td>
	<td th:text="${guest.guestEmail}"> </td>
	<td th:text="${guest.guestAddress}"> </td>
	<td th:text="${guest.guestMessage}"> </td>
</tr>
</div>
</tbody>
</tr>
</table>



</body>
</html>